n8n_backups/workflows_json/CUNNINGHAM___Cerebro_Voz_Alpha_[workflow_alpha_v2].json
{
  "id": "YK8mZFvMIlWFmd2x",
  "name": "CUNNINGHAM | Cerebro_Voz_Alpha [workflow_alpha_v2]",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice-input",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "id": "webhook-trigger",
      "webhookId": "voice-input",
      "name": "O\u00eddo (Webhook)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-oss:20b"
            },
            {
              "name": "prompt",
              "value": "={{ $json.body.text }}"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "system",
              "value": "Eres Lucy, una IA asistente concisa y \u00fatil. Responde en espa\u00f1ol rioplatense. M\u00e1ximo 2 oraciones."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        300
      ],
      "id": "ollama-node",
      "name": "Cortex (Ollama)"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"text\": \"{{ $json.response }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        650,
        300
      ],
      "id": "format-response",
      "name": "Formatear Salida"
    }
  ],
  "connections": {
    "O\u00eddo (Webhook)": {
      "main": [
        [
          {
            "node": "Cortex (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cortex (Ollama)": {
      "main": [
        [
          {
            "node": "Formatear Salida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "source": "vol_fusion"
}