n8n_backups/workflows_json/NIN___notenin_(Investigador_Autónomo).json
{
  "id": "BAsjJe74dnlGcyrZ",
  "name": "NIN | notenin (Investigador Aut\u00f3nomo)",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-id",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "query-id",
              "name": "search_query",
              "value": "Mejores pr\u00e1cticas para optimizar workflows de n8n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-query",
      "name": "Define Misi\u00f3n",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"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\",\n  \"query\": \"{{ $json.search_query }}\",\n  \"search_depth\": \"advanced\",\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"max_results\": 5\n}",
        "options": {}
      },
      "id": "tavily-search",
      "name": "Tavily Deep Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"gemma-3-stable:latest\", \"messages\": [ { \"role\": \"user\", \"content\": \"Mission: \" + $json.query + \"\\nFuentes: \" + JSON.stringify($json.results) } ], \"stream\": false, \"format\": \"json\" } }}",
        "options": {}
      },
      "id": "ollama-curator",
      "name": "Ollama (RTX 5090) - Librero",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const timestamp = new Date().toISOString().replace(/[:.]/g, '-');\nconst filename = `/home/node/.n8n-files/docs/notenin/research_${timestamp}.md`;\nconst content = $items('Ollama (RTX 5090) - Librero')[0].json.message.content;\n\nreturn {\n  json: {\n    filename: filename,\n    content: `# [notenin] Reporte de Investigaci\u00f3n\\n\\n${content}`\n  }\n};"
      },
      "id": "format-note",
      "name": "Prepara Notebook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.filename }}",
        "options": {
          "append": false
        }
      },
      "id": "write-file",
      "name": "Guardar en Disco",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1104,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        144,
        144
      ],
      "id": "8f7ed577-3788-43be-91b1-5c74fcde9533",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Define Misi\u00f3n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Misi\u00f3n": {
      "main": [
        [
          {
            "node": "Tavily Deep Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Deep Search": {
      "main": [
        [
          {
            "node": "Ollama (RTX 5090) - Librero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama (RTX 5090) - Librero": {
      "main": [
        [
          {
            "node": "Prepara Notebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara Notebook": {
      "main": [
        [
          {
            "node": "Guardar en Disco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Define Misi\u00f3n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "source": "vol_n8n"
}