n8n_backups/workflows_json/NIN___Telegram_Service_(Unified).json
{
  "id": "WrslsGzYsDP8hJZT",
  "name": "NIN | Telegram Service (Unified)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sirena-telegram",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "id": "wh-tele",
      "name": "Webhook",
      "webhookId": "sirena-telegram"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "text-id",
              "name": "message_text",
              "value": "={{ $json.body.message || $json.body.mensaje || $json.body.text || 'Alerta NiN indefinida' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-message",
      "name": "Format Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8235094378:AAG-EKXPVUjmXGTZQigDIxyciWqlNMsJ8oA/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"5154360597\",\n  \"text\": \"{{ $json.message_text }}\",\n  \"parse_mode\": \"Markdown\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        300
      ],
      "id": "send-tele",
      "name": "Telegram API"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Telegram API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "source": "vol_nin"
}